@tailwind base;
@tailwind components;
@tailwind utilities;

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: #d1e5ff;
}
::-webkit-scrollbar-thumb{
   background:rgba(193,71,233,1) ;
   border-radius: 4px;
}
::-webkit-scrollbar-button{
  background: rgba(193,71,233,1);
  border-radius: 50%;
}